// Your variable overrides
$body-bg: #252734;
$body-color: #e6e6e9;
$primary: #ffc25c;
$secondary: #676976;
$font-family-base: Arial;
$jumbotron-bg: #333646;
$h2-font-size: 0.8rem;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
