// Your variable overrides
$body-bg: #252734;
$body-color: #e6e6e9;
$primary: #ffc25c;
$font-family-base: Arial;
$jumbotron-bg: #333646;

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
